body{
    background-color: gainsboro;
}
.container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;   
}
.card{
    margin:15px;
    border:1px solid;
    padding: 7px;
    background-color: rgb(222, 233, 236);   
}
